{:kotoba.app/id "cloud.itonami.isic-2652", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreihqnyzoaz4ibma7w6jauigfdefahh3vilr5cpz63lytsjjabkadhu", :kotoba.app/embed-url "ipfs://bafkreihqnyzoaz4ibma7w6jauigfdefahh3vilr5cpz63lytsjjabkadhu", :published {:archive "https://kotobase.net/ipfs/bafkreihqnyzoaz4ibma7w6jauigfdefahh3vilr5cpz63lytsjjabkadhu", :size 72675, :put-status 201, :get-status 200, :at "2026-08-15T13:53:56.117Z"}}
